TEST_USERNAME = add_admin_username
TEST_PASSWORD = add_admin_password
NADM_USER_TEST1 = add_user1_username
NADM_PSW_TEST1 = add_user1_password
NADM_USER_TEST2 = add_user2_username
NADM_PSW_TEST2 = add_user2_password