BASE_URL=http://localhost:4533
TEST_USERNAME=adminTest
TEST_PASSWORD=adminTest
INVALID_USERNAME=invalidUser
INVALID_PASSWORD=invalidUser
NADM_USER_TEST1=userTest1
NADM_PSW_TEST1=userTest1
NADM_USER_TEST2=userTest2
NADM_PSW_TEST2=userTest2
NADM_USER_TEST3=userTest3
NADM_PSW_TEST3=userTest3
EMPTY_CREDENTIAL=

